.container{
 height: max-content;
 width: 1000px;
}

.consignes{
    border: solid black;
    background-color: #fff;
    width: 200px;
    margin-block-start: 300px;
}
.joueur{
    top: 10px;
    left: 10px;
    position: absolute;
    height: 60px;
    width: 60px;
    margin-top: 0px;
}
.ghost{
   position: absolute;
    max-height: 50px;
    animation-name: ghost1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.ghost2{
   position: absolute;
    max-height: 50px;
    animation-name: ghost2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.ghost3{
   position: absolute;
    max-height: 50px;
    animation-name: ghost3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.ghost4{
   position: absolute;
    max-height: 50px;
    animation-name: ghost4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.ghost5{
   position: absolute;
    max-height: 50px;
    animation-name: ghost5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.ghost6{
   position: absolute;
    max-height: 50px;
    animation-name: ghost6;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.ghost7{
   position: absolute;
    max-height: 50px;
    animation-name: ghost7;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.ghost8{
    position: absolute;
    max-height: 50px;
    animation-name: ghost8;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.ghost9{
    position: absolute;
    max-height: 50px;
    animation-name: ghost9;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.diamant{
    position: absolute;
    top : 400px;
    left: 1000px
}

@keyframes ghost1 {
    0% {
        top: 10px;
        left: 200px;
    }
    50% {
        left: 400px;
        top:300px;
    }
    100%{
        top: 10px;
        left: 200px;
    }
}
@keyframes ghost2 {
    0% {
        top: 10px;
        left: 300px;
    }
    50% {
        left: 300px;
        top: 450px;
    }
    100%{
        top: 10px;
        left: 300px;
    }
}
@keyframes ghost3 {
    0% {
        top: 400px;
        left: 500px;
    }
    50% {
        left: 400px;
        top:10px;
    }
    100%{
        top: 400px;
        left: 500px;
    }
}
@keyframes ghost4 {
    0% {
        top:500px;
        left:150px;
    }
    50% {
        left: 600px;
        top:10px;
    }
    100%{
        top:450px;
        left:100px;
    }
}
@keyframes ghost5{
    0%{
        top:250px;
        left:700px;
    }
    50%{
        top:450px;
        left:700px;
    }
    75%{
        top:250px;
        left:500px;
    }
    100%{
        top: 250px;
        left: 700px;
    }
}
@keyframes ghost6{
    0%{
        top: 500px;
        left:800px
    }
    50%{
        top:200px;
        left:800px;
    }
    100%{
        top: 500px;
        left:800px 
    }
}
@keyframes ghost7{
    0%{
     top:10px;
     left:900px;
    }
    25%{
        top :300px;
        left:1000px;
    }
    50%{
        top: 450px;
        left: 700px;
    }
    100%{
        top:10px;
        left:900px;
    }
}
@keyframes ghost8{
    0%{
        top:450px;
        left:500px;
    }
    25%{
        top:250px;
        left:200px;
    }
    50%{
        top:10px;
        left:500px;
    }
    75%{
        top :250px;
        left: 900px;
    }
    100%{
        top:450px;
        left:500px; 
    }
}
@keyframes ghost9{
    0%{
     top:200px;
     left:700px;
    }
    25%{
        top:200px;
        left:600px;
    }
    50%{
        top:100px;
        left:750px;
    }
    75%{
        top:400px;
        left:900px;
    }
    100%{
        top:200px;
        left:700px;
    }  
}

/*@media only screen and (max-width:600px){

.container{
    height: max-content;
    width: max-content;
}
    
.consignes{
    border: solid black;
    background-color: #fff;
    width: 200px;
}
.joueur{
    top: 10px;
    left: 10px;
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 0px;

}
.ghost{
   position: absolute;
    max-height: 40px;
    animation-name: ghost1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.ghost2{
   position: absolute;
    max-height: 40px;
    animation-name: ghost2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.ghost3{
   position: absolute;
    max-height: 40px;
    animation-name: ghost3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.ghost4{
   position: absolute;
    max-height: 40px;
    animation-name: ghost4;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.ghost5{
   position: absolute;
    max-height: 40px;
    animation-name: ghost5;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.ghost6{
   position: absolute;
    max-height: 40px;
    animation-name: ghost6;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.ghost7{
   position: absolute;
    max-height: 40px;
    animation-name: ghost7;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.ghost8{
    position: absolute;
    max-height: 40px;
    animation-name: ghost8;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.ghost9{
    position: absolute;
    max-height: 40px;
    animation-name: ghost9;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.diamant{
    position: absolute;
    top : 500px;
    left: 600px
}

@keyframes ghost1 {
0% {
    top: 10px;
    left: 100px;
}
50% {
    left: 400px;
    top:300px;
}
100%{
    top: 10px;
    left: 100px;
}
}

@keyframes ghost2 {
    0% {
        top: 10px;
        left: 250px;
    }
    50% {
        left: 250px;
        top: 450px;
    }
    100%{
        top: 10px;
        left: 250px;
    }
    
}

@keyframes ghost3 {
    0% {
        top: 400px;
        left: 500px;
    }
    50% {
        left: 400px;
        top:10px;
    }
    100%{
        top: 400px;
        left: 500px;
    }
}
@keyframes ghost4 {
    0% {
        top:500px;
        left:150px;
    }
    50% {
        left: 600px;
        top:10px;
    }
    100%{
        top:450px;
        left:100px;
    }
}

@keyframes ghost5{
    0%{
        top:250px;
        left:550px;
    }
    50%{
        top:450px;
        left:550px;
    }
    75%{
        top:250px;
        left:500px;
    }
    100%{
        top: 250px;
        left: 550px;
    }
}
};